{% extends 'index.twig' %}

{% block title %} {{ wp_title }} | {{ site.name }} {% endblock %}

{% block layout %}

	<div class="container grid gap-8 py-16 sm:grid-cols-2 xl:grid-cols-4">

		<div class="{% if blog.sidebar %} xl:col-span-3 {% else %} col-span-full {% endif %}">
			{% block content %}
				{{ __('No posts', 'brocooly') }}
			{% endblock %}
		</div>

		{% block sidebar %}
			{% if blog.sidebar %}
				<aside id="secondary" class="p-6 border-l border-gray-200" role="complementary">

					<h1 class="mb-4 text-2xl font-bold">
						{{ __('Widgets', 'brocooly') }}
					</h1>

					<ul class="flex flex-col w-full space-y-8">
						{{ blog_sidebar }}
					</ul>
				</aside>
			{% endif %}
		{% endblock %}

	</div>

{% endblock %}
