{% for comment in comments %}

	<li class="{{ comment.comment_type }} byuser comment-author-{{ comment.author.ID }} {% if post.author.ID == comment.author.ID %}bypostauthor{% endif %} depth-{{ comment.depth }} bg-white border-l-2 comment-body border-l-secondary mb-4 py-4 px-4 sm:px-10 shadow" id="comment-{{ comment.ID }}">

		<div class="flex mb-2 space-x-3 text-sm text-gray-600 comment-meta">

			<div class="w-16 h-16 overflow-hidden rounded-full bg-gray-50 comment-author-avatar">
				{% if comment.author.meta('_avatar_url') %}
					<img class="object-cover w-full h-full" src="{{ comment.author.meta('_avatar_url') }}" alt="">
				{% else %}
					<img class="object-cover w-full h-full" src="{{ comment.author.avatar({ size: 150 }) }}" alt="">
				{% endif %}
			</div>

			<div>
				<time datetime="{{ comment.date|date('d.F.Y') }}" itemprop="dateCreated">
					{{ comment.date|date('d M, Y') }}
				</time>

				<h3 class="comment-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
					{{ __('%s says', 'brocooly')|format(comment.comment_author) }}
				</h3>
			</div>

		</div>

		<article id="div-comment-{{ comment.ID }}" class="" itemprop="comment" itemscope itemtype="https://schema.org/Comment">

			<div class="pb-4 border-b border-gray-300 comment-content" itemprop="text">
				{{ comment.content|wpautop }}
			</div>

			<div class="mb-4" id="reply-to-{{ comment.ID }}">
				<button
					type="button"
					class="duration-200 reply text-secondary hover:text-primary comment-reply-link" data-commentid="{{ comment.ID }}"
					data-postid="{{ post.ID }}"
					data-belowelement="reply-to-{{ comment.ID }}" data-respondelement="respond"
					data-replyto="{{ __( 'Reply to %s', 'brocooly' )|format(comment.comment_author) }}"
					aria-label="{{ __( 'Reply to %s', 'brocooly' )|format(comment.comment_author) }}"
				>
					{{ __( 'Reply', 'brocooly' ) }}
				</button>
			</div>

			{% if comment.children %}
				<ul>
					{% include '@post/comments.twig' with {
						comments: comment.children
					} %}
				</ul>
			{% endif %}

		</article>

	</li>

{% endfor %}
