<!-- Post-{{ post.ID }}  -->
<article
	class="{{ post.post_class }} w-full h-auto lg:flex duration-200 bg-white dark:border-dark dark:bg-dark rounded shadow preview hover:shadow-md border border-gray-200 overflow-hidden"
	id="post-{{ post.ID }}"
	itemscope itemtype="http://schema.org/Article"
>

	{% if post.meta('_thumbnail_url') %}
		<figure class="flex-shrink-0 w-full lg:w-2/5 h-72">
			<img src="{{ post.meta('_thumbnail_url')|resize(50,50) }}" data-src="{{ post.meta('_thumbnail_url') }}" alt="{{ post.meta('_thumbnail_alt') }}" class="lazy object-cover w-full h-full blur">
		</figure>
	{% endif %}

	<div class="flex flex-col w-full p-6">

		<header class="entry-header">
			<h2 class="entry-title" itemprop="headline name">
				<a href="{{ post.link }}" itemprop="url" class="text-lg font-bold duration-200 hover:text-secondary">
					{{ post.title }}
				</a>
			</h2>

			<div class="flex space-x-3 text-sm text-gray-600 dark:text-gray-300">
				<time pubdate datetime="{{ post.date|date('d.F.Y') }}">
					{{ post.date|date('d M, Y') }}
				</time>

				<span>
					{{ post.author }}
				</span>
			</div>
		</header>

		<div class="flex-grow py-4 entry-preview" itemprop="description">
			{{ post.preview.length(50).force.read_more(__('Continue Reading', 'brocooly'))|e('wp_kses_post') }}
		</div>

		<footer class="pt-2 border-t border-gray-200 entry-footer">
			<a href="{{ post.link }}" class="duration-200 hover:text-secondary">
				{{ __('Read more', 'brocooly') }}
			</a>
		</footer>

	</div>

</article><!-- #post-{{ post.ID }} -->
