{% extends 'layouts/app.twig' %}

{% block content %}

	<article
		class="{{ post.post_class }} w-full h-auto container py-16"
		id="post-{{ post.ID }}"
		itemscope itemtype="http://schema.org/Article"
	>

		{% if post.edit_link %}
			<a href="{{ post.edit_link }}" class="duration-200 hover:text-secondary">
				{{ __('Edit post', 'brocooly') }}
			</a>
		{% endif %}

		<header class="mb-6 entry-header">
			<h1 class="mb-4 text-2xl font-bold entry-title" itemprop="headline name">
				{{ post.title }}
			</h1>

			{% include '@components/breadcrumbs.twig' with {
				current_title: post.title
			} %}
		</header>

		{% if post.meta('_thumbnail_url') %}
			<figure class="flex-shrink-0 w-full mb-4 h-80" itemscope itemtype="https://schema.org/ImageObject">
				<img loading="lazy" src="{{ post.meta('_thumbnail_url') }}" alt="{{ post.meta('_thumbnail_alt') }}" class="object-cover w-full h-full" itemprop="image">
			</figure>
		{% endif %}

		<div class="flex mb-6 space-x-3 text-sm text-gray-600 dark:text-gray-300">
			<time pubdate datetime="{{ post.date|date('Y-m-d') }}" itemprop="datePublished">
				{{ post.date|date('d M, Y') }}
			</time>

			<span itemprop="author">
				{{ post.author }}
			</span>
		</div>

		<div class="mb-10 entry-content" itemprop="articleBody">
			{{ post.content|e('wp_kses_post') }}
		</div>

		{% if post.comments %}
			<section class="max-w-4xl mx-auto mb-10 comments-area" id="comments">

				<h2 class="sr-only">{{ __('Commentaries', 'brocooly') }}</h2>

				<h3 class="mb-2 text-xl font-bold comments-title">
					{{ _n('%s comment', '%s comments', post.get_comment_count, 'brocooly')|format(post.get_comment_count) }}
				</h3>

				{% if post.comment_status is same as 'closed' %}
					<p class="text-red-600">
						{{ __('Comments for this post are closed', 'brocooly') }}
					</p>
				{% else %}

					<ol class="comments-list">
						{% include '@post/comments.twig' with {
							comments: post.comments
						} %}
					</ol>

					<section class="comment-box">
						{% include '@forms/comments.twig' %}
					</section>
				{% endif %}
			</section>
		{% endif %}

		<footer class="entry-footer">
			{% include '@components/navigation.twig' %}
		</footer>

	</article>

{% endblock %}

{% block scripts %}
	{# <script src="{{ asset('comments-reply.js') }}"></script> #}
{% endblock %}
