{% extends 'layouts/app.twig' %}

{% block content %}

	<article
		class="{{ post.post_class }} w-full h-auto container"
		id="post-{{ post.ID }}"
		itemscope itemtype="http://schema.org/Article"
	>

		<header class="entry-header">
			<h1 class="entry-title" itemprop="headline name">
				{{ post.title }}
			</h1>
		</header>

		<div class="entry-content" itemprop="articleBody">
			{{ post.content|e('wp_kses_post') }}
		</div>

		<footer class="entry-footer">
			{% if post.edit_link %}
				<a href="{{ post.edit_link }}">
					{{ __('Edit post', 'brocooly') }}
				</a>
			{% endif %}
		</footer>

	</article>

{% endblock %}
