<div class="p-10 comment-respond" id="respond">

    <h3 class="text-lg font-bold reply-title" id="reply-title">
		{{ __('Add comment', 'brocooly') }}
	</h3>

    <form class="w-full comment-form" method="POST" action="{{ site.site_url ~ '/wp-comments-post.php' }}" id="commentform" novalidate>

        {% if user %}

            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">

        {% else %}

            <label for="email" class="block mb-2 cursor-pointer">
				<span class="block text-xs font-bold mb-0.5">
					{{ __('Email', 'brocooly') }}
				</spa>

                <input class="block w-full h-10 px-4 py-2 border border-gray-200 focus:border-secondary" required name="email" type="email" id="email">
            </label>

            <label for="author" class="block mb-2 cursor-pointer">
				<span class="block text-xs font-bold mb-0.5">
					{{ __('Name', 'brocooly') }}
				</spa>

                <input class="block w-full h-10 px-4 py-2 border border-gray-200 focus:border-secondary" required name="author" type="text" id="author">
            </label>

            <label for="url" class="block mb-2 cursor-pointer">
				<span class="block text-xs font-bold mb-0.5">
					{{ __('Website', 'brocooly') }}
				</spa>

                <input class="block w-full h-10 px-4 py-2 border border-gray-200 focus:border-secondary" name="url" type="url" id="url">
            </label>
        {% endif %}

        <label class="block mb-4 cursor-pointer" for="comment">
			<span class="block text-xs font-bold mb-0.5">
				{{ __('Comment', 'brocooly') }}
			</spa>
            <textarea class="block w-full h-24 px-4 py-2 border border-gray-200 focus:border-secondary" id="comment" name="comment"></textarea>
        </label>

        <div class="flex mb-4 space-x-3 form-submit">

        	<button type="submit" id="submit" name="submit" class="px-4 py-2 text-white duration-200 border border-secondary bg-secondary hover:border-primary hover:bg-primary">
				{{ __('Send', 'brocooly') }}
			</button>

	        <button type="reset" name="cancel" class="px-4 py-2 text-red-600 duration-200 border border-red-600 hover:bg-red-600 hover:text-white">
				{{ __('Cancel', 'brocooly') }}
			</button>

			<input name="comment_post_ID" id="comment_post_ID" value="{{ post.id }}" type="hidden">
        	<input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

        </div>

        <p class="text-sm text-gray-400">
			{{ __('Your comment will be revised by the site if needed.', 'brocooly') }}
		</p>
    </form>

</div>
